body {
  background-color: #0D0D2B !important;
  color: white !important;
  font-family: Arial, sans-serif;
}

.formpage {
  background-color: #1f1f38;
  width: 50%;
  min-width: 350px;
  border-radius: 0.5rem;
  left: 7%;
  box-shadow: 10px 10px 20px black;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #dcdcdc;
}

#addEvent, #newspage, #submit {
  background-color: #0ec927;
  color: white;
  font-weight: 500;
  text-align: center;
}

#addEvent:hover {
  
  background-color: #167C0D;
}
#newspage:hover {
  
  background-color: #167C0D;
}
#submit:hover {
  
  background-color: #167C0D;
}

input,
textarea {
  color: white !important;
  background-color: #13132e !important;
}

.EventStyle {
  display: flex !important;
  justify-content: space-between !important;
  background-color: #11274b;
  width: 70%;
  min-width: 350px;
  border-radius: 1rem;
  border: 2px solid white;
  left: 7%;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 20px black;
}

#Event {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.EventContentStyle {
  margin-top: 10px;
  color: white;
  padding: 0 1rem 0 1rem;
}

.EventHeading {
  color: #00ffff;
  text-decoration: underline black;
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
}

.EventRound {
  font-size: 1.5rem;
}

.EventImage {
  width: 90%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 3rem;
  height: 100%;
}

.EventDelete {
  background-color: #212529 !important;
  color: white !important;
  width: 10rem;
}

.EventDelete:hover {
  border: 2px solid white !important;
}

.eventFooter {
  display: flex;
  justify-content: space-between;
  padding: 5rem 1rem 1rem 0;
}

.imageDiv {
  display: flex;
  justify-content: center;
}

.EventDetailDiv {
  width: 130%;
  padding-right: 2rem;
}