<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Team</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <style>
      body {
        background-color: rgb(21, 21, 41);
      }

      .custom-input::placeholder {
        color: #718096; /* Tailwind CSS class text-gray-500 */
      }

      .custom-input {
        color: #e2e8f0; /* Tailwind CSS class text-gray-200 */
      }
    </style>

    <!-- for managing the team removal -->

    <script>
      async function removeTeam(teamName) {
        const formData = new FormData();
        formData.append("teamName", teamName);

        const response = await fetch("/removeTeam", {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          location.reload();
        } else {
          console.error("Failed to remove team");
        }
      }
    </script>
  </head>

  <body>
    <div class="h-screen flex items-center justify-center">
      <form
        action="{{ url_for('addTeam') }}"
        method="POST"
        onsubmit="addTeam(event)"
        class="z-10 bg-black shadow-md rounded px-12 pt-6 pb-8 mb-4"
      >
        <div
          class="block text-white text-sm font-bold mb-6 text-lg text-center"
        >
          <h1>Team Details Section</h1>
        </div>
        <div class="block text-white text-sm font-bold mb-3 py-3">
          <h1 class="gap-px py-2">Teams Registered :</h1>
          <ol class="pl-3 list-decimal">
            {% for team in teams %}
            <li class="gap-8 flex items-center justify-between py-1">
              <span
                class="py-1 bg-gray-900 rounded focus:outline-none px-2 text-gray-300"
              >
                <p class="text-gray-350">{{ team.teamName }}</p>
              </span>
              <button
                class="bg-red-700 hover:bg-red-800 text-white font-bold py-0 px-2 rounded focus:outline-none focus:shadow-outline"
                type="button"
                onclick="removeTeam('{{ team.teamName }}')"
              >
                Remove
              </button>
            </li>
            {% endfor %}
          </ol>
        </div>
        <div class="flex space-x-4 py-4">
          <div class="mb-4">
            <label
              class="block text-white text-sm font-bold mb-2"
              for="teamname"
            >
              Team Name
            </label>
            <input
              class="bg-gray-900 shadow appearance-none border rounded w-full py-2 px-3 custom-input leading-tight focus:outline-none focus:shadow-outline"
              id="teamname"
              name="teamName"
              type="text"
              placeholder="Team Name"
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-white text-sm font-bold mb-2"
              for="members"
            >
              Team Members
            </label>
            <input
              class="shadow bg-gray-900 appearance-none border rounded w-full py-2 px-3 custom-input leading-tight focus:outline-none focus:shadow-outline"
              id="members"
              name="teamMembers"
              type="text"
              placeholder="Team Members"
              required
            />
          </div>
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Add Team
          </button>
          <a
            class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            href="{{ url_for('home') }}"
          >
            Back
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
