<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-900 py-8">
    <!--Centralised Dashboard to view all the competitions added, 
    - Delete Feature present
    - Using Jinja to load competition using loop
    -->
    <h1 class="text-4xl text-white text-center mb-8">Competition Dashboard</h1>
    <div class="flex justify-center items-center mb-2">
      <a href="{{ url_for('stock_admin') }}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 pointer">Create New Competition</a>
      {% if ID %}
      <a href="{{ url_for('showNews', ID = ID) }}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 pointer">Latest Competition News</a>
      {% endif %}
    </div>
    {% for competition in competitions %}
    <div
      class="mx-auto w-3/4 border border-gray-700 bg-gray-800 rounded-md p-4 mb-4"
    >
      <div class="flex justify-between items-center">
        <h3 class="text-white text-lg font-semibold mb-2">
          {{ competition.competitionName }}
        </h3>
        <h3 class="text-white font-semibold mb-2">
          {{ competition.timeOfCreation }}
        </h3>
        <form action="/delete-competition" method="post">
          <input
            type="hidden"
            name="keyToDelete"
            value="{{ competition.id }}"
          />
          <button
            type="submit"
            class="p-1 bg-red-500 text-white rounded hover:bg-red-600"
          >
            Delete
          </button>
        </form>
      </div>
      <h3 class="text-white mb-2">
        Number of Rounds: {{ competition.numberOfRounds }}
      </h3>
      <h3 class="text-white mb-4">Wallet Size: {{ competition.walletSize }}</h3>
      <div class="overflow-x-auto">
        <table class="w-full border border-gray-700 border-collapse">
          <thead>
            <tr>
              <th class="px-4 py-2 text-white border border-gray-700">Stock</th>
              <th class="px-4 py-2 text-white border border-gray-700">
                Initial Price
              </th>
              {% for i in range(competition.numberOfRounds) %}
              <th class="px-4 py-2 text-white border border-gray-700">
                Round {{ i +1 }}
              </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for stock in competition.stocks %}
            <tr>
              <td
                class="px-4 py-2 text-white border border-gray-700 text-center"
              >
                {{ stock.name }}
              </td>
              <td
                class="px-4 py-2 text-white border border-gray-700 text-center"
              >
                {{ stock.initial_price }}
              </td>
              {% for round in stock.rounds %}
              <td
                class="px-4 py-2 text-white border border-gray-700 text-center"
              >
                {{ round.price }}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
