<!DOCTYPE html>
<html>

<head>
    <title>News Section</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='newsScroll.css') }}">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>

<body>
    <div class="container">

        <header class="bg-primary py-6 px-4">
            <nav class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 header-container">
                <h1 class="text-3xl font-bold text-primary">News Section</h1>
                <div class="nav-items">
                    <div class="nav-item">
                        <a href="{{ url_for('stockNews', ID = ID) }}">Add More News</a>
                    </div>
                    <div class="nav-item">
                        <select id="round-select" onchange="changeRound()">
                            {% for round in rounds %}
                            <option value="{{ round }}" {% if round==current_round %}selected{% endif %}>Round {{ round
                                }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="nav-item">
                        <a href="{{ url_for('results', ID = ID) }}">Result</a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="py-2">
            <div class="slider">

                
                {% for slide in slides %}
                <div class="myslide fade slide-content">
                    <img src="data:image/jpeg;base64,{{ slide.image }}" style="object-fit: cover;">
                    <div class="txt">
                        <!-- <button id="pauseButton" onclick="togglePause()">Pause</button> -->
                        <h1>{{ slide.title }}</h1>
                        <p>{{ slide.content }}</p>
                    </div>
                    <div class="chart-container">
                        <button class="pause-chart-button" onclick="toggleChartPause()">Pause</button>
                        <canvas id="chart-{{ loop.index0 }}"></canvas>
                    </div>
                </div>
                {% endfor %}

                <div class="dotsbox" style="text-align:center;">
                    {% for i in range(1, slides|length + 1) %}
                    <span class="dot" onclick="currentSlide({{ i }})"></span>
                    {% endfor %}
                </div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>


        </div>
    </div>

    <script src="{{ url_for('static', filename='newsScroll.js') }}"></script>
    <script>
    let myCharts = [];
    let currentStockIndex = 0;
    let intervalID; // Declare a variable to store the interval ID
    let isStop = false; // Variable to keep track of the pause state
    
    // Function to create a chart
    function createChart(ctx, labels, data, label, backgroundColor, borderColor) {
        return new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: label,
                    data: data,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                    borderWidth: 4,
                    pointRadius: 8,
                    fill: false
                }]
            },

            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: '#E2E8F0'
                        }
                    },
                    x: {
                        display: true,
                        title: {
                        display: true,
                        text: "Round",
                        color: '#E2E8F0'
                        },
                        ticks: {
                            color: '#E2E8F0',
                        }
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            color: '#E2E8F0',
                        }
                    }
                },
                layout: {
                    padding: {
                        left: 20,
                        right: 20,
                        top: 20,
                        bottom: 20
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
            }
        });
    }
    
    // Function to update charts
    function updateCharts(round) {
        const stockData = {{ stock_data | tojson }};
        const labels = Array.from({ length: round }, (_, i) => i === 0 ? 'Initial' : `${i}`);
        const allStocks = Object.keys(stockData);
    
        document.querySelectorAll('.chart-container canvas').forEach((canvas, index) => {
            if (myCharts[index]) {
                myCharts[index].destroy();
            }
            const currentStock = allStocks[currentStockIndex];
            const data = stockData[currentStock].slice(0, round);
    
            myCharts[index] = createChart(canvas.getContext('2d'), labels, data, currentStock, color = '#' + Math.floor(2677215).toString(16), color = '#' + Math.floor(1677215).toString(16));
    
            currentStockIndex = (currentStockIndex + 1) % allStocks.length;
        });
    }
    
    // Function to change round
    function changeRound() {
        const roundSelect = document.getElementById('round-select');
        const selectedRound = parseInt(roundSelect.value);
        updateCharts(selectedRound);
        clearInterval(intervalID);
        const ID = {{ ID }};
        window.location.href = `/round/${ID}/${selectedRound}`;
    }
    
    // Function to toggle pause
    function toggleChartPause() {
        if (isStop) {
            intervalID = setInterval(() => {
                updateCharts(initialRound);
            }, 3000);
            document.querySelectorAll('.pause-chart-button').forEach(button => {
                button.textContent = "Pause";
            });
        } else {
            clearInterval(intervalID);
            document.querySelectorAll('.pause-chart-button').forEach(button => {
                button.textContent = "Play";
            });
        }
        isStop = !isStop;
    }
    
    // Call updateCharts initially
    const initialRound = {{ current_round }};
    updateCharts(initialRound);
    
    // Start the interval initially
    intervalID = setInterval(() => {
        updateCharts(initialRound);
    }, 3000); // Update every 5 seconds
    
</script>

    
    
</body>